<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Add a Book</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner" style="background-color: rgb(39, 36, 36);padding: 1em;">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav" style="float: right;">
        <li>
          <a href="/home" class="navbar-brand">Home</a>
          <a href="/login" class="navbar-brand">Login/Signup</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Add a Book</h1>
          <p class="lead">Fill up the following to add a book</p>
      </div>
    </div> 
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer" style="background-color: rgba(97, 90, 90, 0.603);"> </div>
      </div>
    </div> 
  </div><!-- /cont --><!-- /cont --> 



<div class="container">
  <div class="row">
    <div class="col-md-12">  
      <div class="panel" style="background-color: rgba(97, 90, 90, 0.603);">
        <div class="panel-body"> 
          <!--/stories-->  
          <form method="post" id="form" action="/admin/add" enctype="multipart/form-data">
                <div class="row g-1"  style="margin-left:8em;">
                    <div class="col-sm-4">
                      <div class="form-outline">
                          <input type="text" name="bookname" id="name_book" class="form-control" placeholder="Name of Book" /><br>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-outline">
                          <input type="text" name="authorname" id="name_author" class="form-control" placeholder="Author's Name"/><br>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-outline">
                          <select class="form-control" name="genre" aria-label=".form-select-lg example" id="genre_book">
                            <option selected>-- Genre --</option>
                            <option value="Short Story">short story</option>
                            <option value="Drama">Drama</option>
                            <option value="Journals">journals and letters</option>
                            <option value="Novel">Novel</option>
                            <option value="Poetry">Poetry</option>
                            <option value="Fiction">Fiction</option>
                            <option value="Cartoon">Cartoon</option>
                            <option value="History">Historical Fiction</option>
                            <option value="AutoBiography">AutoBiography</option>
                            <option value="other">Other</option>
                        </select><br>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-outline">
                          <select class="form-control" name="year" aria-label=".form-select-lg example" id="book_year">
                              <option selected>Published Year</option>
                              <%  var i;
                                  for(i=1800;i<2021;i++){ %>
                                  <option value="<%=i%>"><%=i%></option>
                                <% }
                                  %>  
                            </select><hr>
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-outline">
                            <input type="file" name="image" class="form-control" id="image_book" /><br>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-outline">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check_book" value="yes"/>
                                <label class="form-check-label" for="check_book" style="color: rgb(53, 50, 50);">Confirm adding a Book</label>
                              </div>
                        </div>
                        </div> 
                    <div class="col-sm-3">
                        <div class="form-outline">
                            <button type="submit" onclick="return validateBook();" class="btn btn-primary" style="background-color: rgb(53, 50, 50);">Add to Library</button>
                        </div>
                    </div> 
                </div>
                </form>
          <!--/stories--> 
        </div>
      </div>                                                 
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
     <script src="js/addbook.js"></script>
	</body>
</html>